body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1efef;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

#name {
    font-size: 28px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

a[href] {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

.project {
    border-left: 4px solid #333;
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
}

form input,
form textarea {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin: 5px 0;
}


button {
    background-color: #333;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: red;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}